#Database
DATABASE_ROOT_PASSWORD=toor
DATABASE_NAME=pharmacy
DATABASE_USER=admin
DATABASE_PASSWORD=123
DATABASE_PORT=3306
DATABASE_HOST=database
PHPMYADMIN_PORT=7000

#Redis
REDIS_PASSWORD=123456789
REDIS_HOST=redis
REDIS_PORT=8000
REDISINSIGN_PORT=8001

#Rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=123
RABBITMQ_PANEL_PORT=9001

#Public api
PUBLIC_API_PORT=3000

#Local api
LOCAL_API_PORT=3001

#Local api auth
ACCESSTOKEN_SECRET=1234567890
REFRESHTOKEN_SECRET=1234567890

#Control panel Admin info
CONTROL_PANEL_ADMIN_LOGIN=admin
CONTROL_PANEL_ADMIN_PASSWORD=111

#Public frontend
PUBLIC_FRONTEND_PORT=5000

#Local frontend
LOCAL_FRONTEND_PORT=5001

#Time zone
TZ=Europe/Minsk