#Database
DATABASE_ROOT_PASSWORD=toor
DATABASE_NAME=pharmacy
DATABASE_USER=admin
DATABASE_PASSWORD=123
DATABASE_PORT=3306
PHPMYADMIN_PORT=8000

#Public api
PUBLIC_API_PORT=5000
PUBLIC_API_MODULE_PATH=./pharmacy-api/public-api
PUBLIC_API_SERVICE_PATH=./pharmacy-api/public-api

#Local api
LOCAL_API_PORT=5001
LOCAL_API_MODULE_PATH=./pharmacy-api/local-api
LOCAL_API_SERVICE_PATH=./pharmacy-api/local-api

#Local api auth
ACCESSTOKEN_SECRET=1234567890
REFRESHTOKEN_SECRET=1234567890

#Control panel Admin info
CONTROL_PANEL_ADMIN_LOGIN=admin
CONTROL_PANEL_ADMIN_PASSWORD=111

#Public frontend
PUBLIC_FRONTEND_PORT=5173

#Local frontend
LOCAL_FRONTEND_PORT=5174

#Time zone
TZ=Europe/Minsk